<section class="changePassword">
<form class="container mt-3" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <div class="mb-3">
      <label for="oldPass" class="form-label">enter your old password</label>
      <input type="password" class="form-control" id="oldPass"  formControlName="oldPass">
    </div>
    <div class="mb-3">
        <label for="newPass" class="form-label">enter your new password</label>
        <input type="password" class="form-control" id="newPass"  formControlName="password">
      </div>
      
    <button type="submit" class="btn btn-primary me-auto">update password</button>
  </form>
</section>